<?xml version="1.0"?>
<launch>

<!--firebird base-->
<node name="ros0xrobot" pkg="ros0xrobot" type="ros0xrobotNode"><!-- < output="screen"> -->
    <param name="port" value="/dev/ttyUSB0" />
    <param name="CountsPerRev" value="3840" />
    <param name="WheelDiameter" value="100.0" />
    <param name="AxelLength" value="290.0" />
    <param name="enableSonar" value="false" />
    <param name="enableImu" value="false" />
    <param name="enableodomtf" value="true" />

    <remap from="/ros0xrobot/odom" to="/odom"/>
</node>
<!-- <remap from="/ros0xrobot/odom" to="/odom"/> -->


<node pkg="tf2_ros" type="static_transform_publisher" name="world_map_static" args="0 0 0 0 0 0 1 world map" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_static" args="0 0 0 0 0 0 map odom" />

<node pkg="pure_pursuit" type="pure_pursuit_node" name="pure_pursuit_node" output="screen">
    <param name="base_frame" value="base_footprint" />
</node>

</launch>